# OK

In [3]:
pwd #Present Working Directory

'C:\\Users\\prabh\\PYTHON with ANACONDA'

In [8]:
print("Hello World")

Hello World

In [9]:
print(6)

6

PRABHAS

### PRABHAS JENA

In [5]:
AN = 1 #This is a variable declaration  
b = 5
AN +b   #doing summation of two variables
"""This is the second class of the Python internship batch and we are studying about Variables and Identifiers"""

'This is the second class of the Python internship batch and we are studying about Variables and Identifiers'

In [4]:
"""This is the second class of the Python internship batch and we are studying about Variables and Identifiers"""
AN = 1 #This is a variable declaration  
b = 5
AN +b   #doing summation of two variables

6

In [42]:
A = 10
id(A)

140724098155592

In [7]:
B = 10
id(B)

140724098155592

In [9]:
C = 10
id(C)

140724098155592

In [10]:
Z = 10
Z + C

20

In [11]:
Z = 10
C = 15
Z+C

25

In [36]:
# Multiple assignments(If we are working on more than 2 variables)
Z = 15
C = 25
U = Z+C
U
V = print("The summation is- ",Z+C)
V

The summation is-  40

In [13]:
Z = 15
C = 25
U = Z+C
print("The summation is- ",Z+C)
U

The summation is-  40

40

In [14]:
Z = 15
C = 25
V = 2345
U = Z+C
U
print("The summation is- ",Z+C)
V

The summation is-  40

2345

In [15]:
Z = 15
C = 25
V = 2345
U = Z+C
U
V

2345

In [16]:
1A = 123
1A

SyntaxError: invalid decimal literal (3775778381.py, line 1)

In [17]:
_1A=123
_1A

123

In [18]:
type(_1A)

int

In [24]:
w=type(_1A)
w

int

In [26]:
print(w)

<class 'int'>

In [27]:
import keyword
keywords = keyword.kwlist
print(keywords)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [28]:
len(keywords)

35

In [29]:
b=input("Enter your company name - ")
print("My organization name is-", b)

Enter your company name -  TCS

My organization name is- TCS

In [30]:
print(b,"is my organization name")

TCS is my organization name

In [31]:
print("I am from",b,"Where are you from?")

I am from TCS Where are you from?

In [32]:
b=input("Enter your company name - ")
c=input("My employee ID is-")

Enter your company name -  WIPRO
My employee ID is- 12341

In [33]:
print("I am from",b,"and my employee ID is",c)

I am from WIPRO and my employee ID is 12341

In [45]:
#using the .format
print("I am from {} and my employee ID is {}".format(b,c))

I am from WIPRO and my employee ID is 12341

In [35]:
print("I am from {} and my employee ID is {}".format(c,b))

I am from 12341 and my employee ID is WIPRO

In [37]:
A

10

In [43]:
#delete a variable
del(A)

In [44]:
A

NameError: name 'A' is not defined